# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
.pytest_cache/
.coverage

# Database
*.db
*.sqlite
*.sqlite3

# Environnement local
.env
.flaskenv

# Editor/IDE files
.idea/
.vscode/
*.swp
*~